# Env
.env
.env.production
.env.local
.env.*.local

# Build
node_modules
.next
dist
.turbo

# Docker volumes
postgres_data
redis_data

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

.zip
.tar.gz